@font-face {
  font-family: Flappy Bird;
  src: url("src/fonts/Flappy Bird Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Silkscreen", cursive;
  background-color: #220136;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

canvas {
  border: 1px solid #000;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5em;
}

.footer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 360px;
  color: #f2f2f2;
}

.footer_container p {
  font-size: 0.65em;
}

.footer_container p > a {
  color: #f2f2f2;
  text-decoration: none;
}

footer .mode_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 72px;
}

footer .mode_container > span {
  color: red;
  font-size: 0.5em;
  margin-top: 0.7em;
}

footer .btn_container > button {
  position: relative;
  width: 30px;
  height: 11px;
  border: 2px solid #f2f2f2;
  border-radius: 10px;
  margin: 0.5em 0;
}

footer .btn_container > button > .circle {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
  transition: all 200ms ease-in;
}

footer .btn_container > button .active {
  transition: all 200ms ease-in;
  left: 0;
}
