@font-face {
  font-family: Flappy Bird;
  src: url("src/fonts/Flappy Bird Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #121212;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

canvas {
  border: 1px solid #000;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.15em;
  width: 100%;
  padding: 0.5em;
}

footer > p {
  font-family: "Silkscreen", cursive;
  font-size: 0.65em;
  color: #f0f0f0;
  margin: 0 1.5em;
}

footer p > a {
  color: #f0f0f0;
  text-decoration: none;
}

footer .btn_container > button {
  position: relative;
  width: 35px;
  height: 14px;
  border: 3px solid #f0f0f0;
  border-radius: 10px;
  margin: 0.5em 0;
}

footer .btn_container > button > .circle {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: all 200ms ease-in;
}

footer .btn_container > button .active {
  left: 0;
  transition: all 200ms ease-in;
}
